.pages {
  text-align: center;
}

.pages a{
    margin-left: 1em;
}

.btn-delete {
  position: relative;
  bottom: 2.8em;
  left: 2.5em;
  background: red;
  border: 0;
  border-radius: .5em;
}

.btn-update {
  background: lightgreen;
  border: 0;
  border-radius: .5em;
}

.query-search {
  display: flex;
  margin-right: 1em;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  min-width: 350px;
}

.query-field {
  margin-bottom: 0;
}
.book-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-flow: wrap;
  justify-content: space-evenly;
  margin-bottom: 1em;
}
h1 {
  text-align: center;
}

.add-a-book {
  display: flex;
  justify-content: center;
}
.book-info {
  display: flex;
}

.editable {
  cursor: pointer;
}

.book-item {
  border: 1px solid black;
  /*max-width: 250px;
  max-pages: 250px;*/
  padding: 1em;
  margin-bottom: 1em;
}

.main-title {
  flex: 1;
  text-align: left;
  color: white;
  margin-left: 1em;
}

.nav {
  display: flex;
  margin-right: 1em;
}

.navbar {
  display: flex;
  align-items: center;
}
.column {
  flex: 1;
}

.label {
  color: #000;
  display: flex;
  justify-content: center;
}

.single-book-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 350px;
  min-width: 350px;
  background-color: #a9a9a9;
  border-radius: 1em;
}

.user-action {
  display: flex;
}

.modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-10 {
    width: 100%
}

.modal-body .form-horizontal .control-label {
    text-align: left;
}
.modal-body .form-horizontal .col-sm-offset-2 {
    margin-left: 15px;
}
.myModal {
  display: none;
}

.plus {
  margin-left: .4em;
}

footer {
  height: 10vh;
  background-color: #000;
  width: 100%;
  border-radius: .5em;
}
