doctype html
html
  head
    title Simple Book Store
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/styles.css')
  body
    h1.book Simple Book Store
    button.btn.btn-default.addBook Add Book
      //- span.glyphicon.glyphicon-plus 
    form(class='form-horizontal', method='post', action='/book/add')
      .modal.fade(tabindex='-1', role='dialog')
      .modal-dialog(role='document')
        .modal-content.myModal
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4.modal-title Add Book
          .modal-body
            .form-group
              label.col-sm-2.control-label Title
              .col-sm-10
                input.form-control(type='text', name='title')
            .form-group
              label.col-sm-2.control-label Author
              .col-sm-10
                input.form-control(type='text', name='author')
            .form-group
              label.col-sm-2.control-label Genre
              .col-sm-10
                input.form-control(type='text', name='genre')
            .form-group
              label.col-sm-2.control-label Height
              .col-sm-10
                input.form-control(type='text', name='height')
            .form-group
              label.col-sm-2.control-label Publisher
              .col-sm-10
                input.form-control(type='text', name='publisher')
          .modal-footer
            button.btn.btn-default.exit(type='button', data-dismiss='modal') Close
            button.btn.btn-primary.save(type='submit') Save changes
      
    each book in books
      a(href='/book/' + book.id)
        ul
          li=book.title
    
    script(src='/index.js')
    
